{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-8 mx-auto">
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'account:logout' %}">Logout</a>
                    </li>
                </ul>
            </nav>
            <h2>Home View</h2>
            {% if request.user.is_authenticated %}
            <h3>Welcome {{request.user}}</h3>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}